html {
    color-scheme: light dark;
    --background-color: canvas;
    --text-color: canvastext;
}
  
body {
    font: 100%/1.5 system-ui;
    max-width: 100ch;
    margin-inline: max(1em, (100% - 100ch) / 2);
    text-align: center;
}

.femaleCorrelation {
    fill: pink;
    opacity: 0.6;
    transition: opacity 0.3s ease;
  }
  
  .maleCorrelation {
    fill: lightblue;
    opacity: 0.6;
    transition: opacity 0.3s ease;
  }
  
  .femaleCorrelation:hover {
    opacity: 1;
  }
  
  .maleCorrelation:hover {
    opacity: 1;
  }